<template>
  <div>
    <div class='row justify-center justify-between items-end' style='padding:5vw 5vw 0 5vw'>
      <q-btn
      color="primary"
      size="sm"
      label="PH"
      @click.native="PhFunc()"
    />
    <q-btn
      color="primary"
      size="sm"
      label="TDS"
      @click.native="TdsFunc()"
    />
    <q-btn
      color="primary"
      size="sm"
      label="Turbidez"
      @click.native="TurbFunc()"
    />
    <q-btn
      color="primary"
      size="sm"
      label="Índice de qualidade"
      @click.native="IqaFunc()"
    />
    </div>

    <wideContainer>
      <state></state>
      <chart-legend slot="legend" v-bind:legend="legend" source="ANA - Agência Nacional de Águas"></chart-legend>
    </wideContainer>
    <wideContainer>
      <region></region>
      <chart-legend slot="legend" v-bind:legend="legend" source="ANA - Agência Nacional de Águas"></chart-legend>
    </wideContainer>
    <wideContainer>
      <mark-map></mark-map>
      <chart-legend slot="legend" v-bind:legend="markLegend" source="ANA - Agência Nacional de Águas"></chart-legend>
    </wideContainer>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import StateMap from '../components/Graphics/StateMap.vue';
import RegionMap from '../components/Graphics/RegionMap.vue';
import MarkMap from '../components/Graphics/MarkMap.vue';
import WideContainer from '../components/Graphics/containers/WideContainer.vue';
import Legend from '../components/Graphics/Legend.vue';

export default {
  name: 'Dashboard',
  data() {
    return {
      legend: [
        {color: 'terrible', label: 'Péssimo', description: '20% ~ 00%'},
        {color: 'bad', label: 'Ruim', description: '40% ~ 20%'},
        {color: 'regular', label: 'Regular', description: '60% ~ 40%'},
        {color: 'good', label: 'Bom', description: '80% ~ 60%'},
        {color: 'great', label: 'Muito Bom', description: '100% ~ 80%'},
      ],
      markLegend: [
        {color: 'red', label: 'Péssimo', description: '20% ~ 00%'},
        {color: 'orange', label: 'Ruim', description: '40% ~ 20%'},
        {color: 'yellow', label: 'Regular', description: '60% ~ 40%'},
        {color: 'light-green', label: 'Bom', description: '80% ~ 60%'},
        {color: 'green', label: 'Muito Bom', description: '100% ~ 80%'},
      ]
    };
  },
  components: {
    'state': StateMap,
    'region': RegionMap,
    'mark-map': MarkMap,
    'wideContainer': WideContainer,
    'chart-legend': Legend
  },
  computed: {
    ...mapState({
      typeMap: state => state.typeMap.type,
    }),
  },
  methods: {
    IqaFunc(){
      this.$store.dispatch('Iqua');
      window.location.reload();
    },
    PhFunc(){
      this.$store.dispatch('Ph');
      window.location.reload();
    },
    TurbFunc(){
      this.$store.dispatch('Turb');
      window.location.reload();
    },
    TdsFunc(){
      this.$store.dispatch('Tds');
      window.location.reload();
    },
  }
};
</script>
