<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="light-blue-6" inverted>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          <div class="column items-center">
            <a @click="goToHomePage()" class="klara-logo row items-center">
              <img src="../assets/klara.png" alt="Klara Logo" height="30">
              <img src="../assets/klara-text.png" alt="Klara Text" height="26" style="margin-left: 10px">
            </a>
          </div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'white' : null"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
      <div class="klara-logo column items-center">
        <a @click="goToHomePage()" class="klara-logo row items-center">
          <img src="../assets/klara.png" alt="Klara Logo" height="30">
          <img src="../assets/klara-text.png" alt="Klara Text" height="26" style="margin-left: 10px">
        </a>
      </div>
        <q-list-header></q-list-header>
        <q-item highlight link @click.native="goToHomePage()">
          <q-item-side icon="fa fa-home" text-color="light-blue-7" />
          <q-item-main label="Home" />
        </q-item>
        <div v-if="!authenticated">
          <q-collapsible highlight link label="Equipment" text-color="light-blue-7" icon="fa fa-cogs">
            <q-item highlight link @click.native="newEquipment()">
              <q-item-side icon="fa fa-plus" text-color="light-blue-7" />
              <q-item-main label="New" />
            </q-item>
            <q-item highlight link @click.native="listEquipment()">
              <q-item-side icon="fa fa-list" text-color="light-blue-7" />
              <q-item-main label="List All" />
            </q-item>
          </q-collapsible>
        </div>
        <div v-else>
          <q-item :to="{ path: 'Login' }">
            <q-item-side icon="fa fa-sign-in-alt" text-color="light-blue-7" />
            <q-item-main label="Log In" />
          </q-item>
        </div>
        <q-item @click.native="openURL('https://gitlab.com/klara-org/')">
          <q-item-side icon="far fa-comment" text-color="light-blue-7" />
          <q-item-main label="Contact Us" />
        </q-item>
        <q-item @click.native="openURL('https://gitlab.com/klara-org/klara/issues/new')">
          <q-item-side icon="fas fa-bug" text-color="light-blue-7" />
          <q-item-main label="Report Error"/>
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from 'vuex';
import { openURL } from 'quasar';

export default {
  name: 'DefaultLayout',
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
    };
  },
  computed: {
    ...mapState({
      authenticated: state => state.auth.authenticated,
    }),
  },
  methods: {
    openURL,
    goToLoginPage() {
      this.$router.push({ path: 'Login' });
    },
    goToHomePage() {
      this.$router.push({ path: '/' });
    },
    newEquipment() {
      console.log("Equipment Created");
    },
    listEquipment() {
      console.log("All Equipment");
    },
    newSample() {
      console.log("Sample Created");
    }
  },
};
</script>

<style>
.q-collapsible-inner .fa-cogs{
  color: #039be5;
}
.klara-logo {
  cursor: pointer;
}
</style>
